body{
    height: 100vh;
    width: 100vw;
    display: flex;
    overflow-x: hidden;
}

.tabuleiro {
    position: absolute;
    border: 1px solid;
    height: 480px;
    width: 480px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 8px 8px rgb(0 0 0 / 65%);
    background: #F0D9B5;
    z-index: -1;
}

.preta {
    background: #B58863;
}

.celula {
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
}

.cavalo{
    width: 50px;
    height: 50px;
    padding-top: 5px;
    padding-left: 65px;
    animation: L 20s ease;
}

    /*
    Cada bloco é 60px X 60px
    */
@keyframes L{
    0%{
        padding-top: 5px;
        padding-left: 65px;
    }


    2%{
        padding-top: 65px;
        padding-left: 65px;
    }
    4%{
        padding-top: 125px;
        padding-left: 65px;
    }
    6%{
        padding-top: 125px;
        padding-left: 125px;
    }
    10%{
        padding-top: 125px;
        padding-left: 125px;
        color: red;
    }


    12%{
        padding-top: 185px;
        padding-left: 125px;
    }
    14%{
        padding-top: 245px;
        padding-left: 125px;
    }
    16%{
        padding-top: 245px;
        padding-left: 65px;
    }
    20%{
        padding-top: 245px;
        padding-left: 65px;
    }


    22%{
        padding-top: 305px;
        padding-left: 65px;
    }
    24%{
        padding-top: 365px;
        padding-left: 65px;
    }
    26%{
        padding-top: 365px;
        padding-left: 5px;
    }
    30%{
        padding-top: 365px;
        padding-left: 5px;
    }

    
    32%{
        padding-top: 365px;
        padding-left: 65px;
    }
    34%{
        padding-top: 365px;
        padding-left: 125px;
    }
    36%{
        padding-top: 305px;
        padding-left: 125px;
    }
    40%{
        padding-top: 305px;
        padding-left: 125px;
    }


    42%{
        padding-top: 365px;
        padding-left: 125px;
    }
    44%{
        padding-top: 425px;
        padding-left: 125px;
    }
    46%{
        padding-top: 425px;
        padding-left: 65px;
    }
    50%{
        padding-top: 425px;
        padding-left: 65px;
    }


    50%{ 
        padding-top: 425px;
        padding-left: 65px;
    }

    100%{
        padding-top: 5px;
        padding-left: 65px;
    }
    
}