body{
    height: 100vh;
    width: 100vw;
    display: flex;
    overflow-x: hidden;
}

.tabuleiro {
    position: absolute;
    border: 1px solid;
    height: 480px;
    width: 480px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 8px 8px rgb(0 0 0 / 65%);
    background: #F0D9B5;
    z-index: -2;
}

.preta {
    background: #B58863;
}

.celula {
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
}

.cavalo{
    position: relative;
    width: 50px;
    height: 50px;
    top: 5px;
    left: 65px;
    animation: L 13s ease;
}

#quadrado{
    position: absolute;
    width: 60px;
    height: 60px;
    background: rgb(91, 209, 91);
    left: 69px;
    top: 9px;
    z-index: -1;
    opacity: 0%;
    animation: destaque 13s;
}
    /*
    Cada bloco é 60px X 60px
    */
@keyframes L{
    0%{
        top: 5px;
        left: 65px;
    }


    4%{
        top: 65px;
        left: 65px;
    }
    8%{
        top: 125px;
        left: 65px;
    }
    12%{
        top: 125px;
        left: 125px;
    }
    16%{
        top: 125px;
        left: 125px;
    }


    20%{
        top: 185px;
        left: 125px;
    }
    24%{
        top: 245px;
        left: 125px;
    }
    28%{
        top: 245px;
        left: 65px;
    }
    32%{
        top: 245px;
        left: 65px;
    }


    36%{
        top: 305px;
        left: 65px;
    }
    40%{
        top: 365px;
        left: 65px;
    }
    44%{
        top: 365px;
        left: 5px;
    }
    48%{
        top: 365px;
        left: 5px;
    }

    
    52%{
        top: 365px;
        left: 65px;
    }
    56%{
        top: 365px;
        left: 125px;
    }
    60%{
        top: 305px;
        left: 125px;
    }
    64%{
        top: 305px;
        left: 125px;
    }


    68%{
        top: 365px;
        left: 125px;
    }
    72%{
        top: 425px;
        left: 125px;
    }
    76%{
        top: 425px;
        left: 65px;
    }
    80%{
        top: 425px;
        left: 65px;
    }

    /*
    Volta
    */
    81%{ 
        top: 425px;
        left: 125px;
    }
    82%{
        top: 365px;
        left: 125px;
    }
    83%{
        top: 305px;
        left: 125px;
    }


    84%{
        top: 365px;
        left: 125px;
    }
    85%{
        top: 365px;
        left: 65px;
    }
    86%{
        top: 365px;
        left: 5px;
    }


    87%{
        top: 365px;
        left: 65px;
    }
    88%{
        top: 305px;
        left: 65px;
    }
    89%{
        top: 245px;
        left: 65px;
    }


    90%{
        top: 245px;
        left: 125px;
    }
    91%{
        top: 185px;
        left: 125px;
    }
    92%{
        top: 125px;
        left: 125px;
    }


    94%{
        top: 125px;
        left: 65px;
    }
    96%{
        top: 65px;
        left: 65px;
    }
    98%{
        top: 5px;
        left: 65px;
    }
    100%{
        top: 5px;
        left: 65px;
    }
}

@keyframes destaque{
    0%{
        top: 9px;
        left: 69px;
        opacity: 0%;
        background: red;
    }
    12%{
        top: 129px;
        left: 129px;
        opacity: 0%;
    }
    16%{
        top: 129px;
        left: 129px;
        opacity: 100%;
    }
    17%{
        top: 129px;
        left: 129px;
        opacity: 0;
    }


    28%{
        top: 249px;
        left: 69px;
        opacity: 0%;
    }
    32%{
        top: 249px;
        left: 69px;
        opacity: 100%;
    }
    33%{
        top: 249px;
        left: 69px;
        opacity: 0%;
    }


    44%{
        top: 369px;
        left: 9px;
        opacity: 0%;
    }
    48%{
        top: 369px;
        left: 9px;
        opacity: 100%;
    }
    49%{
        top: 369px;
        left: 9px;
        opacity: 0%;
    }


    60%{
        top: 309px;
        left: 129px;
        opacity: 0%;
    }
    64%{
        top: 309px;
        left: 129px;
        opacity: 100%;
    }
    65%{
        top: 309px;
        left: 129px;
        opacity: 0%;
        background: red;
    }


    76%{
        top: 429px;
        left: 69px;
        opacity: 0%;
        background: rgb(91, 209, 91);
    }
    80%{
        top: 429px;
        left: 69px;
        opacity: 100%;
    }
    80.5%{
        top: 429px;
        left: 69px;
        opacity: 0%;
    }
}