body{
    height: 100vh;
    width: 100vw;
    display: flex;
    overflow-x: hidden;
}

.tabuleiro {
    position: absolute;
    border: 1px solid;
    height: 480px;
    width: 480px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 8px 8px rgb(0 0 0 / 65%);
    background: #F0D9B5;
    z-index: -1;
}

.preta {
    background: #B58863;
}

.celula {
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
}

.cavalo{
    width: 50px;
    height: 50px;
    padding-top: 5px;
    padding-left: 65px;
    animation: L 13s ease;
}

    /*
    Cada bloco é 60px X 60px
    */
@keyframes L{
    0%{
        padding-top: 5px;
        padding-left: 65px;
    }


    4%{
        padding-top: 65px;
        padding-left: 65px;
    }
    8%{
        padding-top: 125px;
        padding-left: 65px;
    }
    12%{
        padding-top: 125px;
        padding-left: 125px;
    }
    16%{
        padding-top: 125px;
        padding-left: 125px;
        color: red;
    }


    20%{
        padding-top: 185px;
        padding-left: 125px;
    }
    24%{
        padding-top: 245px;
        padding-left: 125px;
    }
    28%{
        padding-top: 245px;
        padding-left: 65px;
    }
    32%{
        padding-top: 245px;
        padding-left: 65px;
    }


    36%{
        padding-top: 305px;
        padding-left: 65px;
    }
    40%{
        padding-top: 365px;
        padding-left: 65px;
    }
    44%{
        padding-top: 365px;
        padding-left: 5px;
    }
    48%{
        padding-top: 365px;
        padding-left: 5px;
    }

    
    52%{
        padding-top: 365px;
        padding-left: 65px;
    }
    56%{
        padding-top: 365px;
        padding-left: 125px;
    }
    60%{
        padding-top: 305px;
        padding-left: 125px;
    }
    64%{
        padding-top: 305px;
        padding-left: 125px;
    }


    68%{
        padding-top: 365px;
        padding-left: 125px;
    }
    72%{
        padding-top: 425px;
        padding-left: 125px;
    }
    76%{
        padding-top: 425px;
        padding-left: 65px;
    }
    80%{
        padding-top: 425px;
        padding-left: 65px;
    }

    /*
    Volta
    */
    81%{ 
        padding-top: 425px;
        padding-left: 125px;
    }
    82%{
        padding-top: 365px;
        padding-left: 125px;
    }
    83%{
        padding-top: 305px;
        padding-left: 125px;
    }


    84%{
        padding-top: 365px;
        padding-left: 125px;
    }
    85%{
        padding-top: 365px;
        padding-left: 65px;
    }
    86%{
        padding-top: 365px;
        padding-left: 5px;
    }


    87%{
        padding-top: 365px;
        padding-left: 65px;
    }
    88%{
        padding-top: 305px;
        padding-left: 65px;
    }
    89%{
        padding-top: 245px;
        padding-left: 65px;
    }


    90%{
        padding-top: 245px;
        padding-left: 125px;
    }
    91%{
        padding-top: 185px;
        padding-left: 125px;
    }
    92%{
        padding-top: 125px;
        padding-left: 125px;
    }


    94%{
        padding-top: 125px;
        padding-left: 65px;
    }
    96%{
        padding-top: 65px;
        padding-left: 65px;
    }
    98%{
        padding-top: 5px;
        padding-left: 65px;
    }
    100%{
        padding-top: 5px;
        padding-left: 65px;
    }
    
}